<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Κεφάλαιο 4'"></title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Geographer |'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/one}" th:text="'Κεφάλαιο 1'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/two}" th:text="'Κεφάλαιο 2'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/three}" th:text="'Κεφάλαιο 3'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/five}" th:text="'Κεφάλαιο 5'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/six}" th:text="'Κεφάλαιο 6'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/seven}" th:text="'Κεφάλαιο 7'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-10">
                <div class="custom_img_card">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="'Κεφάλαιο 4: Τα κράτη της Αφρικής'"></h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Στη Βόρεια Αφρική ζουν Άραβες, λευκοί μουσουλμάνοι, οι οποίοι χωρίς να δεχθούν καμία
                                επιρροή από την Ευρώπη δημιούργησαν αξιόλογο πολιτισμό. Μνημεία του αιγυπτιακού πολιτισμού
                                δηλώνουν την προσφορά των αρχαίων Αιγυπτίων στην ανθρωπότητα: οι πυραμίδες, εφευρέσεις,
                                τα κείμενα στην ιερογλυφική γραφή, το γυαλί, το πρώτο άρμα με τροχούς και πολλά άλλα.
                                Στη βιβλιοθήκη της Αλεξάνδρειας φυλάσσονται ανεκτίμητης αξίας πάπυροι, στους οποίους
                                υπάρχουν πληροφορίες και αναπαραστάσεις αυτού του αξιόλογου πολιτισμού.
                            </p>
                            <p>
                                Οι κάτοικοι της Βόρειας Αφρικής ανήκουν κυρίως στη λευκή φυλή. Αξιοποιώντας τη σύγχρονη
                                τεχνολογία χρησιμοποιούν τους φυσικούς πόρους και κυρίως το πετρέλαιο των ερήμων της
                                Σαχάρας και της Ερυθράς Θάλασσας. Στην έρημο ζουν λίγοι βεδουίνοι, οι οποίοι σταδιακά
                                εγκαταλείπουν τη νομαδική ζωή και εγκαθίστανται κοντά στις μεγάλες πόλεις, όπου βρίσκουν
                                εργασία.
                            </p>
                            <p>
                                Στην Κεντρική Αφρική κυρίως κατοικούν μαύροι ιθαγενείς, οι οποίοι δέχθηκαν έντονες επιρροές
                                από την αποικιοκρατία των Ευρωπαίων, καθώς και από τις χώρες της Αραβίας και της Ινδίας.
                                Πολλές από τις χώρες της Κεντρικής Αφρικής ανήκουν σε αυτές που ονομάζουμε «χώρες του Τρίτου
                                Κόσμου», επειδή είναι οι πιο φτωχές του κόσμου. Πείνα, αρρώστιες, ιδιαίτερα το A.I.D.S.,
                                έλλειψη νερού και φαρμάκων οδηγούν τους κατοίκους σε αφανισμό, παρά το μεγάλο αριθμό των
                                γεννήσεων.
                            </p>
                            <p>
                                Η Νότια Αφρική χαρακτηρίζεται από τον ανθρώπινο αγώνα κατά των φυλετικών διακρίσεων.
                                Μέχρι τα μέσα του 17ου αιώνα κατοικούσαν εκεί μόνο λίγοι μαύροι ιθαγενείς. Στη συνέχεια
                                έφθασαν οι Ευρωπαίοι (Ολλανδοί, Γάλλοι, Γερμανοί και Άγγλοι) με σκοπό να εκμεταλλευτούν
                                το φυσικό πλούτο της περιοχής. Οι Ευρωπαίοι άποικοι μεταχειρίστηκαν τους ιθαγενείς σαν
                                δούλους στα χωράφια τους.
                            </p>
                            <p>
                                Σήμερα η Αφρική αποτελείται από περισσότερα από 55 κράτη, πολλά από τα οποία απέκτησαν την
                                ανεξαρτησία τους κατά τις τελευταίες δεκαετίες. Τα κράτη κυρίως της Κεντρικής Αφρικής είναι
                                αραιοκατοικημένα εξαιτίας των δύσκολων κλιματικών συνθηκών που επικρατούν εκεί.
                            </p>
                            <p>
                                Οι χώρες της Βόρειας Αφρικής, δηλαδή οι βορειοαφρικανικές αραβικές χώρες, έχουν υψηλότερο
                                επίπεδο ζωής από τις χώρες του νότου. Αυτό συμβαίνει επειδή οι καλές κλιματικές συνθήκες
                                έχουν βοηθήσει σε ικανοποιητικό βαθμό την ανάπτυξη της γεωργίας. Επιπλέον το πλούσιο σε
                                ορυκτά υπέδαφος συντελεί στην οικονομική ανάπτυξή τους, μάλιστα δε μερικές από τις χώρες
                                αυτές εξάγουν πετρέλαιο και φυσικό αέριο. Αντίθετα, οι χώρες του νότου, που έχουν να
                                αντιμετωπίσουν πολύ δύσκολες κλιματικές συνθήκες, δεν έχουν αξιοποιήσει το εξίσου πλούσιο
                                υπέδαφός τους και δεν μπόρεσαν μέχρι σήμερα να αναπτυχθούν οικονομικά.
                            </p>
                            <p>
                                Γενικά, παρατηρείται καθυστέρηση στην ανάπτυξη της αφρικανικής ηπείρου. Ένας σοβαρός λόγος
                                της καθυστέρησης αυτής ήταν η δράση των αποικιακών καθεστώτων. Βέβαια, και μετά το τέλος
                                της αποικιοκρατίας δεν υπήρξε άμεση ανάπτυξη.Μεταξύ των αιτίων συγκαταλέγονται η έλλειψη
                                υποδομών, ο τεχνητός καθορισμός των συνόρων σύμφωνα με τα συμφέροντα των αποικιοκρατών,
                                η εγκαθίδρυση απολυταρχικών καθεστώτων, οι λιμοί, οι αρρώστιες και βεβαίως οι εμφύλιοι
                                πόλεμοι εμφύλιοι πόλεμοι μεταξύ των κρατών, όπως στη Ρουάντα, στο Τσαντ, στο Σουδάν
                                και αλλού.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>