<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Κεφάλαιο 3'"></title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Geographer |'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/one}" th:text="'Κεφάλαιο 1'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/two}" th:text="'Κεφάλαιο 2'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/four}" th:text="'Κεφάλαιο 4'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/five}" th:text="'Κεφάλαιο 5'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/six}" th:text="'Κεφάλαιο 6'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/seven}" th:text="'Κεφάλαιο 7'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-10">
                <div class="custom_img_card">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="'Κεφάλαιο 3: Τα κράτη της Ασίας'"></h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Μερικά από τα κράτη της Μέσης Ανατολής (Σαουδική Αραβία, Ιράκ, Ιράν, Κουβέιτ και Ηνωμένα
                                Αραβικά Εμιράτα) έχουν υπέδαφος πλούσιο σε κοιτάσματα πετρελαίου και διαθέτουν τα 3/4
                                των αποθεμάτων της παγκόσμιας παραγωγής. Ο πλούτος που εξασφαλίζεται από το πετρέλαιο,
                                οι θρησκευτικές διαφορές και πολιτικοί λόγοι κάνουν τη Μέση Ανατολή μία περιοχή με
                                συνεχείς εντάσεις και πολλές φορές πολεμικές εκρήξεις.
                            </p>
                            <p>
                                Τα κράτη της Κεντρικής Ασίας παρουσιάζουν μεγάλες διαφορές πολιτιστικές, εθνικές και
                                φυλετικές. Το Καζακστάν, το Ουζμπεκιστάν, το Τουρκμενιστάν, το Τατζικιστάν και το
                                Κιργιστάν είναι κράτη που δημιουργήθηκαν μετά τη διάλυση της Σοβιετικής Ένωσης.
                                Αντίθετα, η Κίνα είναι πανάρχαιο κράτος, που δημιούργησε δικό του πολιτισμό και σύστημα
                                διακυβέρνησης. Οι καλές τέχνες στην Κίνα εμφανίστηκαν περίπου το 1500 μ.Χ.
                            </p>
                            <p>
                                Η Σιβηρία, στη Βόρεια Ασία, είναι η πιο αραιοκατοικημένη περιοχή της Ασίας. Οι δύσκολες
                                συνθήκες διαβίωσης, που οφείλονται στο κλίμα και τη μορφολογία του εδάφους, έχουν
                                συντελέσει στην αργοπορία της ανάπτυξής της. Ωστόσο παρουσιάζει προοπτικές βελτίωσης
                                ως προς τη γεωργία και την εξόρυξη ορυκτών.
                            </p>
                            <p>
                                Από τα κράτη της Ανατολικής Ασίας το πλουσιότερο και πιο ανεπτυγμένο είναι η Ιαπωνία.
                                Η τεχνολογία, η βιομηχανία, το εμπόριο, οι υπηρεσίες, η εκπαίδευση και γενικά όλοι οι
                                τομείς βρίσκονται σε πολύ υψηλό επίπεδο, έτσι ώστε να είναι σε θέση η Ιαπωνία να
                                ανταγωνίζεται τις Ηνωμένες Πολιτείες της Αμερικής και την Ευρωπαϊκή Ένωση.
                            </p>
                            <p>
                                Στην Ιαπωνία υπάρχουν εκατοντάδες μικρά και μεγάλα ηφαίστεια με γνωστότερο το Φούτζι,
                                το οποίο οι Ιάπωνες θεωρούν ιερό και είναι εθνικό σύμβολό τους. Οι κάτοικοι της Ιαπωνίας
                                έχουν μάθει να ζουν με τις συνεχείς εκρήξεις των ηφαιστείων και τους πολύ ισχυρούς
                                σεισμούς που σείουν το έδαφος. Η Ιαπωνία θεωρείται μία από τις πλέον σεισμογενείς χώρες
                                του πλανήτη μας.
                            </p>
                            <p>
                                Η Νότια Ασία λέγεται και Ινδική Χερσόνησος, επειδή το μεγαλύτερο κράτος σε αυτήν είναι
                                η Ινδία. Τα κράτη της Νότιας Ασίας μαστίζονται από τη φτώχεια και την πείνα. Είναι μία
                                από τις πλέον πυκνοκατοικημένες περιοχές του πλανήτη μας, η οποία, εκτός από το οικονομικό
                                και πληθυσμιακό πρόβλημα, παρουσιάζει πολιτική αστάθεια και θρησκευτικές ταραχές ιδίως
                                μεταξύ των ινδουιστών και των μουσουλμάνων.
                            </p>
                            <p>
                                Η Νοτιοανατολική Ασία είναι επίσης πυκνοκατοικημένη περιοχή. Παρά τις εύφορες πεδινές
                                εκτάσεις και την ομαλή μορφολογία του εδάφους το βιοτικό επίπεδο είναι πολύ χαμηλό.
                                Εξαίρεση αποτελεί η Σιγκαπούρη, η οποία έχει παρουσιάσει ταχύτατους ρυθμούς ανάπτυξης.
                                Σημαντικός λόγος για την οικονομική καθυστέρηση της περιοχής αυτής είναι το καθεστώς της
                                αποικιοκρατίας. Τα κράτη της Ν.Α. Ασίας απέκτησαν την ανεξαρτησία τους κατά τη δεκαετία
                                του 1950.
                            </p>
                            <p>
                                Μελετήστε προσεκτικά την παρακάτω εικόνα με τα κράτη της Ασίας:
                            </p>
                            <img class="big_img" th:src="@{/images/img20.png}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>