<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Κεφάλαιο 6'"></title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Geographer |'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/one}" th:text="'Κεφάλαιο 1'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/two}" th:text="'Κεφάλαιο 2'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/three}" th:text="'Κεφάλαιο 3'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/four}" th:text="'Κεφάλαιο 4'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/five}" th:text="'Κεφάλαιο 5'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/seven}" th:text="'Κεφάλαιο 7'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-10">
                <div class="custom_img_card">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="'Κεφάλαιο 6: Τα κράτη της Νότιας Αμερικής'"></h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Οι κάτοικοι της Νότιας Αμερικής κατάγονται κυρίως από τέσσερις φυλετικές ομάδες: H πρώτη
                                ομάδα είναι των ινδιάνων, οι οποίοι κατοικούσαν στην περιοχή πριν από την ανακάλυψη της
                                ηπείρου. Η δεύτερη ομάδα είναι οι Ίβηρες (Ισπανοί και Πορτογάλοι), που ήλθαν ως κατακτητές.
                                Η τρίτη ομάδα είναι οι Αφρικανοί, τους οποίους έφεραν οι άποικοι σαν σκλάβους και η τέταρτη
                                ομάδα είναι εκείνη των Ευρωπαίων, οι οποίοι κατοίκησαν στην Ν. Αμερική μετά την ανεξαρτησία
                                των χωρών της. Ο σημερινός πληθυσμός προέρχεται από την επιμιξία των φυλών αυτών. Έχει
                                συνδυάσει τα διαφορετικά πολιτιστικά στοιχεία, τα ήθη, τα έθιμα και τις συμπεριφορές και
                                έχει διαμορφώσει πλέον το δικό του πολιτισμό.
                            </p>
                            <p>
                                Η Νότια Αμερική λέγεται και Λατινική Αμερική, επειδή τα ισπανικά και τα πορτογαλικά, οι
                                γλώσσες των πληθυσμών που την κατοίκησαν, προέρχονται από τα λατινικά.
                            </p>
                            <p>
                                Οι άποικοι Ευρωπαίοι εκμεταλλεύτηκαν το πλούσιο υπέδαφος και εμπορεύτηκαν τα τροπικά
                                προϊόντα της Λατινικής Αμερικής με σκοπό τη δική τους οικονομική ανάπτυξη. Αυτό υπήρξε
                                μία από τις βασικές αιτίες της καθυστέρησης της ηπείρου στον οικονομικό τομέα. Άλλες
                                αιτίες ήταν τα δικτατορικά καθεστώτα, που αφαιρούσαν κάθε ελευθερία των ανθρώπων και η
                                μεγάλη διάρκεια των επαναστατικών κινημάτων για την ανεξαρτησία. Επίσης σημαντικό λόγο
                                καθυστέρησης της ανάπτυξης σήμερα αποτελεί και η μεγάλη αύξηση του πληθυσμού. Οι αγρότες
                                εγκαταλείπουν την ύπαιθρο και συνωστίζονται στις μεγάλες πόλεις, όπου μη βρίσκοντας
                                εργασία και κατοικία ζουν κάτω από συνθήκες μεγάλης φτώχειας.
                            </p>
                            <p>
                                Κατά τον 19ο αιώνα, μετά τη Γαλλική Επανάσταση και τη Διακήρυξη των Δικαιωμάτων του Ανθρώπου,
                                άρχισαν να ξεσπούν στα εδάφη της Νότιας Αμερικής επαναστάσεις για την απελευθέρωση των
                                ντόπιων κατοίκων από τους αποικιοκράτες Ισπανούς. Σύμβολο του αγώνα για την ανεξαρτησία
                                των βόρειων περιοχών ήταν ο Σιμόν Μπολιβάρ, αξιωματούχος γνωστός ως απελευθερωτής.
                            </p>
                            <p>
                                Στα ανεξάρτητα πλέον κράτη της Νότιας Αμερικής άρχισε να βελτιώνεται η παραγωγική ικανότητα
                                του πρωτογενούς τομέα και να δημιουργούνται υποδομές. Κατασκευάστηκαν σύγχρονα λιμάνια,
                                σιδηρόδρομοι, αεροδρόμια, δρόμοι και άλλα έργα. Άρχισαν επίσης να αναπτύσσονται τράπεζες
                                και ασφαλιστικές εταιρείες. Σήμερα οι μεγάλες πόλεις, όπως είναι η Μπραζίλια, το Σάο Πάολο,
                                το Ρίο ντε Τζανέιρο, το Μπουένος Άιρες, το Καράκας και το Σαντιάγκο αναπτύσσονται οικονομικά
                                με ταχύτατους ρυθμούς.
                            </p>
                            <p>
                                Ένα από τα πλέον ανεπτυγμένα κράτη της Νότιας Αμερικής είναι η Βραζιλία, της οποίας η γεωργία,
                                η κτηνοτροφία και βιομηχανία βρίσκονται σε αρκετά υψηλό επίπεδο. Ακολουθεί η Αργεντινή,
                                η οποία κατέχει μία από τις πρώτες θέσεις στον κόσμο ως προς την παραγωγή κρεάτων. Η
                                Βενεζουέλα ανήκει επίσης στα ανεπτυγμένα κράτη της Νότιας Αμερικής, καθώς σε αυτή υπάρχουν
                                μεγάλα κοιτάσματα πετρελαίου που εξάγεται σε όλες τις χώρες του κόσμου. Μάλιστα στην περιοχή
                                της λιμνοθάλασσας του Μαρακαΐμπο λειτουργούν πολλά διυλιστήρια. Η Κολομβία βρίσκεται ανάμεσα
                                στις πρώτες χώρες παραγωγής καφέ παγκοσμίως. Ακολουθούν η Χιλή με τα πλούσια κοιτάσματα σιδήρου
                                και χαλκού και το Περού με τα πολλά ορυχεία χρυσού, αργύρου, χαλκού, μολύβδου και σπάνιων μετάλλων.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>