<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Κεφάλαιο 7'"></title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Geographer |'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/one}" th:text="'Κεφάλαιο 1'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/two}" th:text="'Κεφάλαιο 2'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/three}" th:text="'Κεφάλαιο 3'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/four}" th:text="'Κεφάλαιο 4'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/five}" th:text="'Κεφάλαιο 5'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/six}" th:text="'Κεφάλαιο 6'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-10">
                <div class="custom_img_card">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="'Κεφάλαιο 7: Τα κράτη της Ωκεανίας'"></h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Εκτός από τα μεγάλα κράτη της Ωκεανίας συναντάμε και τρεις μεγάλες ομάδες νησιών, την Πολυνησία,
                                τη Μελανησία και τη Μικρονησία. Στις ομάδες αυτές περιλαμβάνονται μικρά νησιά, που αποτελούν
                                εξαρτώμενα εδάφη των Η.Π.Α., της Γαλλίας, της Ολλανδίας, του Ηνωμένου Βασιλείου, της
                                Αυστραλίας και της Νέας Ζηλανδίας.
                            </p>
                            <p>
                                Η Αυστραλία ως κράτος δημιουργήθηκε πριν από περίπου 200 χρόνια. Απέκτησε την ανεξαρτησία
                                της από τους Βρετανούς στις αρχές του 20ού αιώνα και είναι μία από τις πιο ανεπτυγμένες
                                οικονομικά χώρες του κόσμου. Το μεγαλύτερο μέρος του πληθυσμού έχει συγκεντρωθεί στις
                                νοτιοανατολικές ακτές της, όπου η μορφολογία του εδάφους και το κλίμα ευνοούν τις ανθρώπινες
                                δραστηριότητες. Εκεί παρουσιάζεται το σύγχρονο πρόσωπο της χώρας με όλα τα επιτεύγματα της
                                επιστήμης και του τεχνολογικού πολιτισμού.
                            </p>
                            <p>
                                Ανάλογη οικονομική ευρωστία παρουσιάζει και η Νέα Ζηλανδία, η οποία πραγματοποιεί μεγάλες εξαγωγές
                                κρέατος σχεδόν σε όλο τον κόσμο και έχει εξασφαλίσει αξιόλογο επίπεδο ζωής για τους κατοίκους της.
                            </p>
                            <p>
                                Η Νέα Γουινέα, ενώ διαθέτει πλούσιο υπέδαφος (πετρέλαιο, χαλκό, νικέλιο, πολύτιμα μέταλλα κ.ά.),
                                αδυνατεί να το αξιοποιήσει. Το κράτος τής Παπούα-Νέας Γουινέας έχει δυνατότητες ανάπτυξης, ενώ
                                αντίθετα πολλές περιοχές της Πολυνησίας, της Μελανησίας και της Μικρονησίας, που διατηρούν τον
                                παραδοσιακό τρόπο ζωής, βρίσκονται σε χαμηλό βιοτικό επίπεδο. Το μικρό μέγεθος αυτών των νησιών
                                και η έλλειψη πλουτοπαραγωγικών πηγών είναι οι παράγοντες που εξηγούν την εξάρτηση αυτών των
                                περιοχών από μεγάλες οικονομικές δυνάμεις. Ονόμασε τα μεγάλα κράτη της Ωκεανίας και την πρωτεύουσα κάθε κράτους.
                            </p>
                            <p>
                                Οι ιθαγενείς κάτοικοι της Αυστραλίας ήταν οι Αβορίγινες, που ζούσαν ως τροφοσυλλέκτες.
                                Οι Βρετανοί χρησιμοποίησαν τα εδάφη της σαν τόπο εξορίας, αλλά αργότερα άρχισαν να τα
                                κατοικούν ως μετανάστες και άλλοι Ευρωπαίοι. Η άφιξη των Ευρωπαίων προξένησε αφανισμό
                                των ιθαγενών λαών της Αυστραλίας. Οι άποικοι καταπάτησαν τα εδάφη τους, εκμεταλλεύτηκαν
                                τους φυσικούς πόρους, ενώ παράλληλα εξεδίωξαν τους ιθαγενείς από τους χώρους διαμονής και
                                λατρείας τους. Πολλοί ιθαγενείς σκοτώθηκαν, άλλοι κατέφυγαν στα δάση κι άλλοι παρέμειναν
                                στις αποικίες, όπου «εκπολιτίζονταν» από τις ιεραποστολές.
                            </p>
                            <p>
                                Ο σημερινός πληθυσμός της Αυστραλίας αποτελείται κυρίως από ανθρώπους αγγλικής καταγωγής.
                                Επίσης αγγλικής καταγωγής είναι και οι περισσότεροι κάτοικοι της Νέας Ζηλανδίας. Οι Πολυνήσιοι,
                                οι Μελανήσιοι και οι Μικρονήσιοι προέρχονται από επιμιξίες της κίτρινης και της μαύρης
                                φυλής και έχουν τα δικά τους πολιτιστικά στοιχεία.
                            </p>
                            <p>
                                Στα νησιά της Ωκεανίας κατοικούν ιθαγενείς λαοί, οι οποίοι ασχολούνται με την καλλιέργεια
                                της γης, το κυνήγι το ψάρεμα, την εξόρυξη ορυκτών και τον τουρισμό.
                            </p>
                            <img class="big_img" th:src="@{/images/img22.png}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>